body {
  background-color: #F5F1E3;
  font-family: 'Open Sans', sans-serif;
  color: #5B7553;
  font-size: 15px;
  line-height: 1.6;
}

.profile-photo {
  height: 200px;
  border-bottom: 100px;
}

.button {
  transition: .8s;
  margin-top: 10px;
  padding: 15px 20px;
  background-color: #5B7553;
  color: white;
  border-radius: 4px;
  text-decoration: none;
}

.button:hover {
  transition-duration: .8s;
  background-color: #1a2516;
  color: beige;
}

.link i {
  transition: .5s;
  font-size: 40px;
  color:#5B7553;
}

.link i:hover {
  transition-duration: .8s;
  color: #1a2516;
}

div {
  display: block;
}

.container {
  width: 600px;
  margin: 40px auto;
}

.card {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.introduction {
  margin-top: 5px;
  margin-bottom: 40px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
